.text-field {
  margin: 5px auto;
  padding: 6px;
  width: 50%;
  border: 1px solid #443a31;
  border-radius: 6px;
  text-align: center;
}

.text-field:focus {
  padding: 4px;
  border: 3px solid #443a31;
}

.invalid-input {
  border: 1px solid red;
}

.invalid-input:focus {
  border: 3px solid red;
}

.title-field {
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #443a31;
}

.subtitle-field {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  color: #443a31;
}
