.user-popup-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
  color: #716153;
}

.user-popup-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #443a31;
  opacity: 0.3;
}

.user-popup {
  position: absolute;
  top: 350px;
  left: calc(50% - 280px);
  width: 500px;
  padding: 30px;
  z-index: 2;
  border: 1px solid #443a31;
  border-radius: 6px;
  background-color: white;
  box-shadow: #443a31 4px 4px 8px;
}

.user-popup-stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 28px;
  color: black;
}

.user-popup-close-btn {
  margin-top: 12px;
}
