.leader-board-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

.leader-board-tabs {
  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid #716153;
  background-color: #d8cec1f2;
}

.leader-board-users-list {
  height: 1050px;
  padding-top: 15px;
  background-color: #ecebe7;
}
